.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center; 
    height: 100vh; 
    margin: 5%; 
    padding: 0; 
    box-sizing: border-box; 
}

.mainContainer span {
    align-self: center;
    font-size: 2em;
    margin-bottom: 5%;
}

.mainContainer .containerSections {
    display: flex;
    flex-direction: row;
    gap: 20px; 
}

.mainContainer .containerSections div {
    position: relative; 
    width: 100%;
    display: flex;
    border-radius: 14px;
    align-items: center;
    justify-content: center;
    overflow: hidden; 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    box-shadow: 2px 2px 20px black;
}

.mainContainer .containerSections div img {
    width: 100%;
    height: 40vh;
    object-fit: cover;
    transition: opacity 0.3s ease; 
}

.mainContainer .containerSections div:hover img {
    opacity: 0.3; 
    cursor: pointer;
}

.mainContainer .containerSections div .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)); 
    z-index: 1;
    transition: opacity 0.3s ease;
    opacity: 1; 
    cursor: pointer;
}

.mainContainer .containerSections div span {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    font-size: 2em;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    z-index: 7; 
    transition: transform 0.3s ease, font-size 0.3s ease; 
}

.mainContainer .containerSections div:hover span {
    transform: translateY(-10px); 
    font-size: 2em; 
    z-index: 10;
}

@media (max-width: 431px){
    .mainContainer{
        .containerSections{
            display: flex;
            flex-direction: column;
        }

    }
}