.header{
    box-shadow: 1px 1px 3px black;
    border-radius: 5px;
    margin: 10px;
    display: flex;
    text-align: center; 
    top: 0;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to bottom right, #100f0f, red) ;
    background-size: 200% 100%; /* Asegura que el gradiente se desplace */
    animation: moveAndColor 3s alternate-reverse infinite;
    animation-play-state: running; /* Reproduce la animación por defecto */
    transition: background-position 0.3s;
    &:hover{
        animation-play-state: paused;
    }
}
.header > div {
    display: flex;
    align-items: center; 
}
.bg{
    display: flex;
    padding: 10px;
    &:hover{
        cursor: pointer;
    }
}
.bg img{
    width: 80%;
    max-width: 150px;
    border-radius: 4px;
}

.search {
    background-color: transparent; 
    color: white; 
    border: 1px solid red; 
    padding: 8px; 
    border-radius: 4px; 
    outline: none; 

}

.optionsContainer{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    a{
        text-decoration: none;
        color: white;
        font-size: 1.5em;
    }
}

@keyframes moveAndColor {
    0% {
      background-position: 0% 0%;
      background-color: #ff0000; /* Color inicial */
    }
    50% {
      background-position: 100% 0%;
      background-color: #00ff00; /* Color intermedio */
    }
    100% {
      background-position: 0% 0%;
      background-color: #0000ff; /* Color final */
    }
  }
  