.header{
    box-shadow: 1px 1px 3px black;
    border-radius: 5px;
    margin: 10px;
    display: flex;
    text-align: center; 
    top: 0;
    justify-content: space-between;
    align-items: center;
}
.header > div {
    display: flex;
    align-items: center; 
}
.bg{
    display: flex;
    padding: 10px;
    &:hover{
        cursor: pointer;
    }
}
.bg img{
    width: 80%;
    max-width: 150px;
    border-radius: 4px;
}

.search {
    background-color: transparent; 
    color: white; 
    border: 1px solid red; 
    padding: 8px; 
    border-radius: 4px; 
    outline: none; 

}

.optionsContainer{
    padding: 10px;
    display: flex;
    gap: 10px;
    a{
        text-decoration: none;
        color: white;
    }
}
